<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="portfolio/app/assets/stylesheets/pages.css.scss" type="text/css" >
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700' rel='stylesheet' type='text/css'> 
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 
</head>
<body>
<div class="header"> 
  <div class="container"> 
    <div class="row"> 
      <div class="menu col-xs-8"> 
        <ul> 
          <li><a href="/">Welcome</a></li> 
          <li><a href="portfolio">Portfolio</a></li> 
          <li><a href="https://medium.com/about-codecademy">Blog</a></li> 
          <li><a href="about">About</a></li> 
          <li><a href="contact">Contact</a></li> 
        </ul> 
      </div> 
      <div class="name col-xs-4"> 
        <h1>Chenyun Zhang</h1> 
      </div> 
    </div> 
  </div> 
 </div> 
 <div class="main home"> 
   <div class="jumbotron"> 
     <div class="container"> 
       <h2>Hello. My name is <span class="highlight">Chenyun Zhang</span> and I have creative ideas and build websites</h2> 
       <a class="btn right" href="portfolio">View my Work</a>
     </div> 
   </div> 
  </div> 
  <div class="footer"> 
    <div class="container"> 
      <ul class="social_media"> 
        <li><a class="github" href="https://github.com/Annabellezhang ">github</a></li> 
        <li><a class="linkedin" href="https://www.linkedin.com/in/chenyunzhang">linkedin</a></li>  
      </ul> 
      <p>&copy; 2016 Chenyun Zhang</p> 
    </div> 
  </div>
<%= yield %>

</body>
</html>
